body{
  text-align:center;

}
input{
    padding:.5em;
  margin:.5em;
  border-radius:25px;
}
#addtolist{
  border-radius:25px;
  padding:1em;
  margin-top:2em;
  color:black;
  background:white;
  height:auto;
  width:auto;
}

p{
  margin-top:2em;
  font-size:1.5em;
  cursor:grab;
}
strong{
  color: blue;
}

#container{
  border:1px solid;
  border-radius: 25px;
  padding:1em;
  width:50%;
  margin-left:auto;
  margin-right:auto;
background-color:lightblue;
}
#deleting{
  border-radius:50%;
  background:red;
  height:20px;
  width:20px;
  
}

#info{
  font-size:1.2em;
  cursor:default;
}